h1 {
    color:cornflowerblue ; 
    text-align: center;
}
h2 {
    color:white ;
    text-align:center;
}
button {
    background-color:burlywood; /* black */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
  }
  body {
    background-color:black;
  }
  body {
    background-image: url('https://w0.peakpx.com/wallpaper/809/145/HD-wallpaper-code-dots-dev-html.jpg');
    background-size: cover; 
    background-repeat:no-repeat;
  }
